<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--标题-->
    <block name="title"><title>ThinkPHP Base Template</title></block>

    <import type='css' file='css.bootstrap'/>
</head>
<body>
<div class="container">
    <div class="col-md-2"></div>
    <!--菜单栏-->
    <block name="menu"></block>
    <div class="row">
        <!--左边分栏-->
        <div class="col-md-2"><block name="left"></block></div>
        <!--主内容-->
        <div class="col-md-8"><block name="main"></block></div>
        <!--右边分栏-->
        <div class="col-md-2"><block name="right"></block></div>
    </div>

    <div class="col-md-2"></div>
    <!--底部-->
    <block name="footer"></block>
</div>
</body>
</html>